# Ignore .env files
.venv
.env
server/.env
client/.env

# Ignore Python cache files
server/__pycache__/
server/*.pyc
server/venv/

# Ignore other files and directories as needed
node_modules/
dist/
build/
.next
